{% extends 'enroll/base.html' %}
{% block content  %}
    <div class="row">
        <div class="col-sm-3">
            <h4 class="text-center alert alert-info">Añadir Comprador</h4>
            <form action=" " method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-success btn-block mb-2" value="Agregar" >
            </form>
            <a class="btn btn-secondary btn-block" href="/">Volver</a>
        </div>
        <div class="col-sm-9">
            <h4 class="text-center alert alert-secondary">Compradores</h4>
            {% if comprador %}
            <div class="table-responsive text-nowrap" style="height: 600px;overflow: scroll;">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id_Ciudad</th>
                        <th scope="col">Cedula Comprador</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Correo electrónico</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Fecha de nacimiento</th>
                        <th scope="col">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for compradores in comprador %}   
                        <tr>
                            <td>{{compradores.id_ciudad}}</td>
                            <td>{{compradores.cedula_comprador}}</td>
                            <td>{{compradores.nombre}}</td>
                            <td>{{compradores.apellido}}</td>
                            <td>{{compradores.correo_electronico}}</td>
                            <td>{{compradores.direccion}}</td>
                            <td>{{compradores.telefono}}</td>
                            <td>{{compradores.fecha_nacimiento}}</td>
                            <td>
                                <a href="{% url 'updatecomprador' compradores.cedula_comprador %}" class="btn btn-secondary bt-sm" >Editar</a>
                                <form action="{% url 'deletecomprador' compradores.cedula_comprador %}" method="post" class="d-inline"> {% csrf_token %}
                                    <input type="submit" class="btn btn-danger bt-sm" value="Borrar">
                                </form>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <h4 class="text-center alert alert-warning">No hay compradores registrados</h4>    
            {%  endif %}
        </div>
    </div>
{% endblock content  %}

