{% extends 'enroll/base.html' %}
{% block content  %}
    <div class="row">
        <div class="col-sm-3">
            <h4 class="text-center alert alert-info">Añadir mensajero</h4>
            <form action=" " method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-success btn-block mb-2" value="Agregar" >
            </form>
            <a class="btn btn-secondary btn-block" href="/">Volver</a>
        </div>
        <div class="col-sm-9">
            <h4 class="text-center alert alert-secondary">Listado de mensajeros</h4>
            {% if mensajero %}
            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Cedula mensajero</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Correo electrónico</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Fecha de nacimiento</th>
                        <th scope="col">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for mensajeros in mensajero %}   
                        <tr>
                            <td>{{mensajeros.cedula_mensajero}}</td>
                            <td>{{mensajeros.nombre}}</td>
                            <td>{{mensajeros.apellido}}</td>
                            <td>{{mensajeros.correo_electronico}}</td>
                            <td>{{mensajeros.direccion}}</td>
                            <td>{{mensajeros.telefono}}</td>
                            <td>{{mensajeros.fecha_nacimiento}}</td>
                            <td>
                                <a href="{% url 'updatemensajero' mensajeros.cedula_mensajero %}" class="btn btn-secondary bt-sm" >Editar</a>
                                <form action="{% url 'deletemensajero' mensajeros.cedula_mensajero %}" method="post" class="d-inline"> {% csrf_token %}
                                    <input type="submit" class="btn btn-danger bt-sm" value="Borrar">
                                </form>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <h4 class="text-center alert alert-warning">No hay mensajeros registrados</h4>    
            {%  endif %}
        </div>
    </div>
{% endblock content  %}

